body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    width: 500px;
    height: auto;
    left: 50%; 
    top: 50%; 
    transform-origin: 0% 50%;
    display: none; 
}