.jun-meter {
    position: relative;
    width: 640px;
    height: 640px;
    margin: auto;
    margin-top: 7%;
    background-image: url('../img/ring.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-time-rect {
    position: absolute;
    top: 180px;
    left: 275px;
    width: 30px;
    height: 80px;
    background-image: url('../img/rect.svg');
    background-size: 40px 40px;
  }
  
  .jun-time-h-h {
    position: absolute;
    top: 170px;
    left: 140px;
    width: 100px;
    height: 100px;
    background-image: url('../img/8.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-time-h-l {
    position: absolute;
    top: 170px;
    left: 200px;
    width: 100px;
    height: 100px;
    background-image: url('../img/8.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-time-m-h {
    position: absolute;
    top: 170px;
    left: 290px;
    width: 100px;
    height: 100px;
    background-image: url('../img/8.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-time-m-l {
    position: absolute;
    top: 170px;
    left: 350px;
    width: 100px;
    height: 100px;
    background-image: url('../img/8.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-time-s-h {
    position: absolute;
    top: 208px;
    left: 430px;
    width: 60px;
    height: 60px;
    background-image: url('../img/8.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-time-s-l {
    position: absolute;
    top: 208px;
    left: 470px;
    width: 60px;
    height: 60px;
    background-image: url('../img/8.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .jun-calendar-date {
    position: absolute;
    top: 310px;
    left: 450px;
    width: 140px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  
  .jun-date {
    position: absolute;
    top: 345px;
    left: 460px;
    width: 120px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  
  .jun-human {
    position: absolute;
    top: 280px;
    left: 250px;
    width: 150px;
    height: 150px;
    background-image: url('../img/human.gif');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  